html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #d9d9d9;
}

body {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	border: 20px solid chartreuse;
	color: #333;
	width: 100%;
	height: 100%;
	font: 18px/1.8 sans-serif;
	margin: 0px;
}

img {
	vertical-align: top;
	width: 100%;
	max-width: 300px;
}

div {
	display: block;
}

#scale-up {
	vertical-align: top;
	height: 230px;
}

#me {
	font-family: 'Lato', sans-serif;
	font-size: 42px;
	color: #9400D3;
}

.container {
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}

.photo, .content {
	margin: 150px 0; /* Spacing on the top */
}

.photo {
	padding-right: 4%;
	text-align: right;
}

/*.photo img {
	border: 10px solid orange;

}*/

.top {
	max-width: 760px;
	margin: 0 auto 0;
	padding: 0 40px 0 40px;
	text-align: center;
}

/*.bottom {
	display: block;
	text-align: center;
} */


@media screen (min-width: 1000px) {
  .column: { /* Make the image and content stack */
    float: none;
  }
  .one-half.column: { /* Make the image and content full width */
    width: 96%; 
  }
  .photo: { /* Remove spacing on the top */
	margin: 0px 0;
	}
}
