html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #ffe4b5;
}

body {
	opacity: 0;
	border: 20px solid saddlebrown;
	color: #333;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font: 18px/1.8 sans-serif;
	margin: 0px;
}

div {
	display: block;
}

#me {
	font-size: 36px;
	color: #8b5a00;
}

.container {
	min-height: 100%;
	position: relative;
	display: block;
}

.top {
	max-width: 760px;
	margin: 0 auto 0;
	padding: 0 40px 0 40px;
	text-align: center;
}

.bottom {
	display: block;
	text-align: center;
}

