html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgba(230,224,203,0.3);
}

body {
	opacity: 0;
	border: 20px solid saddlebrown;
	color: #333;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font: 18px/1.8 sans-serif;
	margin: 0px;
}

img {
	vertical-align: top;
	width: 100%;
	max-width: 300px;
}

div {
	display: block;
}

#scale-up {
	vertical-align: top;
	height: 230px;
}

#me {
	font-family: 'Lato', sans-serif;
	font-size: 42px;
	color: #8b5a00;
}

.container {
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}

.photo, .content {
	margin: 150px 0; /* Spacing on the top */
	border: 1px solid green;
}

.top {
	max-width: 760px;
	margin: 0 auto 0;
	padding: 0 40px 0 40px;
	text-align: center;
}

.bottom {
	display: block;
	text-align: center;
}


@media screen (min-width: 1000px) {
  .column: { /* Make the image and content stack */
    float: none;
  }
  .one-half.column: { /* Make the image and content full width */
    width: 96%; 
  }
  .photo: { /* Remove spacing on the top */
	margin: 0px 0;
	}
}
